@model PagedList.IPagedList<WebApplication1.Models.KnjigaModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <h2>Knjige</h2><br />
        <a href="/Knjiga/Create" class="btn btn-warning">Dodaj novu knjigu</a>
    </div>


    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </p>
    }

    <br /><br /><table class="table table-responsive">
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.InventarniBroj)*@Invertarni Broj
            </th>
            <th>
                @Html.ActionLink("Pisac", "Index", new { sortOrder = ViewBag.PisacSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Naslov", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Godina izdavanja", "Index", new { sortOrder = ViewBag.GodinaSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Mesto izdavanja", "Index", new { sortOrder = ViewBag.MestoSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Zanr", "Index", new { sortOrder = ViewBag.ZanrSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventarniBroj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pisac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naslov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodinaIzdavanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MestoIzdavanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zanr.Naziv)
                </td>
                <td>
                    <a href="/Knjiga/Izmeni/@item.KnjigaId" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a href="/Knjiga/Details/@item.KnjigaId" class="btn btn-primary">Details</a>
                </td>
                <td>
                    <a href="/Knjiga/Delete/@item.KnjigaId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>

    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>