@model IEnumerable<WebApplication1.Models.KnjigaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="/Knjiga/Create" class="btn btn-warning">Dodaj novu knjigu</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventarniBroj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pisac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodinaIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MestoIzdavanja)
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.Zanr.Naziv)*@ Zanr
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventarniBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pisac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaIzdavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MestoIzdavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr.Naziv)
            </td>
            <td>
                <a href="/Knjiga/Izmeni/@item.KnjigaId" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <a href="/Knjiga/Details/@item.KnjigaId" class="btn btn-primary">Details</a>
            </td>
            <td>
                <a href="/Knjiga/Delete/@item.KnjigaId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>