@model WebApplication1.Models.UcenikModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <h4>Podatci o uceniku:</h4>
            </div>
            <div class="col-md-2">
                <h4>@Html.DisplayFor(model => model.Ime) @Html.DisplayFor(model => model.Prezime)</h4>
            </div>
        </div>

        <div>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    Godina rodnjenja:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GodinaRodjenja)
                </dd>

                <dt>
                    Broj u dnevniku:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BrojUDnevniku)
                </dd>

                <dt>
                    Razred:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Razred)
                </dd>

                <dt>
                    Odeljenje:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Odeljenje)
                </dd>

                <dt>
                    Adresa:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adresa)
                </dd>

                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Telefon:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefon)
                </dd>

            </dl>
        </div>
        <div class="form-group">
            <div>
                <a href="/Ucenik/" class="btn btn-primary">Nazad</a>
            </div>
        </div>
    </div>
</div>
